<h1>Estudiantes</h1>

<table>
  <thead>
    <tr>
      <td>Nombre</td>
      <td>Email</td>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>
